
/* top elements */
* { padding: 0; margin: 0; outline: 0; }

body {
    margin: 10px 0 0 0; 	padding: 0;
    font: normal 13px/1.6em  verdana, tahoma, sans-serif;	 
    background: #111111;
    color: #8F8F8E; 	
}

/* links */
a {
    color: #fff;		
    background-color: inherit;
    text-decoration: none;			
}
a:hover {	
    color: #99CC33;
    background-color: inherit;	
}

/* headers */
h1, h2, h3, h4 {
    font: normal 1em 'Trebuchet MS', Tahoma, Arial, Sans-serif;
    color: #eee;
}
h1 { font-size: 3em; color: #84A5DA; letter-spacing: -2px;	} 
h2 { font-size: 2.5em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.5em; }

p, h1, h2, h3, h4 {
    margin: 0;
    padding: 10px 15px;
}

ul, ol {
    margin: 10px 30px;
    padding: 0 15px;	
}

/* images */
img {
    background: transparent;
}

code {
    margin: .5em 0;
    display: block;
    padding: 20px;
    text-align: left; 
    overflow: auto;  
    font: 500 1em/1.5em 'Lucida Console', 'Courier New', monospace ;
    /* white-space: pre; */
    background: transparent;
    border: 1px solid #211E20;   
}
acronym {
    cursor: help;
    border-bottom: 1px dotted #8F8F8E;
}
blockquote {
    margin: 10px 15px;
    padding: 10px 0 10px 30px;  
    background: transparent;
    border: 1px solid #211E20;   
    font: normal 1.6em/1.5em Georgia, "Times New Roman", Times, serif;
}



/***********************
			LAYOUT
			************************/

#header, #nav, #content, #footer-wrap {
    width: 100%;
}

#footer-wrap {
    font-size: .65em;
}

/* header */
#header {
    clear: both;
    position: relative;
    margin: 0 auto; padding: 0;
    background: transparent right top;
    height: 60px;
    text-align: left;	
}

/* Navigation */
#nav {
    clear: both;	
    margin: 0 auto;
    padding: 0;		
}
#nav ul {
    float: left;
    list-style: none;
    text-transform: uppercase;
    margin: 0;	padding: 0;	
    height: 56px;		
}
#nav ul li {
    float: left;
    margin: 0; padding: 0;
    height: 56px;
}
#nav ul li a {
    display: block;
    float: left;
    width: auto;
    margin: 0;
    padding: 0 20px;
    color: #a5a5a5;
    font: bold 16px/54px "Trebuchet MS", Helvetica, Arial, sans-serif;
    text-decoration: none;	
    letter-spacing: 1px;	
}
#nav ul li a:hover, 
#nav ul li a:active {
    color: #fff;		
}
#nav ul li#current a {	
    color: #FF8B04;	
}

#login_container {
    float: right;
    margin-right: 10px;
}


/* content */
#content-wrap {
    background-color: #222222;
    min-height: 650px;
    width: 100%;
}
#content {
    text-align: left;	
    padding: 0; 
    margin: 0 auto;		
}

.consume_height {
    padding-bottom: 51em;     /* X + padding-bottom */
    margin-bottom: -50em;     /* X */
}

/* sidebar */
#sidebar {
    float: right;
    width: 24em;
    margin: 10px 0 10px -21em; 
    padding: 0;		
}
#sidebar h3 {
    font: normal 1.6em 'Trebuchet MS', Tahoma, Arial, Sans-serif;
    padding: .3em 0 .5em 10px; 
    color: #99CC33;			
    text-transform: none;
    letter-spacing: -1px;	
}

#sidebar ul.sidemenu {
    margin: 0 0 0 10px;
    padding: .1em 0 1em 0;		
    font-family: 'Trebuchet MS', Tahoma, Sans-serif;		
    border-top: 1px solid #211E20;
}
#sidebar ul.sidemenu li {
    padding: 0; 
    border-bottom: 1px solid #211E20; 
    list-style:none;
}

* html body #sidebar ul.sidemenu li { height: 1%; }

#sidebar ul.sidemenu li a {
    display: block;
    font-weight: bold;
    color: #d3d0cc;
    text-decoration: none;
    padding: .2em 0 .2em 30px;
    line-height: 1.5em;
    font-size: 1.25em;
}
#sidebar ul.sidemenu li a:hover {
    color: #FF8B04;				
}
#sidebar ul.sidemenu ul { margin: 0 0 0 15px; }
#sidebar ul.sidemenu ul li { border: none; }

/* main */
#main {
    margin: 10px 26em 10px 0; 
    padding: 0;		
}
#main h2 { 
    font: normal 2.9em 'Trebuchet MS', Arial, Sans-serif;
    color: #84A5DA;	
    letter-spacing: -2px;		
    padding-bottom: 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid #211E20; 	
}
#main h2 a {
    color: #84A5DA;	
    text-decoration: none;	
}



/* columns */
#columns {
    clear: both;
    text-align: left;
    color: #5B9CFF;
    margin: 0 auto; 
    padding: 1.6em 0 .5em 0;
    width: 95%;	
}
#columns h3 {
    color: #99CC33;	
    margin: 0;
    padding: 0 10px; 	
    font: normal 1.4em "Trebuchet MS", Arial, Tahoma, Sans-serif;	
    text-transform: uppercase;
}

#columns ul {
    list-style: none;
    margin: 10px 0 0 0; 
    padding: 0;	
    border-top: 1px solid #111;	
}
#columns li {
    border-bottom: 1px solid #111;		
}
#columns li a {
    display: block;
    padding: .5em 0 .5em 1em;
    color: #8F8F8E;
}
#columns li a:hover {
    color: #fff;	
}

#columns .col3, .col3-center {
    float: left;
    width: 31%;
}
#columns .col3-center { 
    margin: 0 15px; 
}

/* footer */
#footer-bottom {
    clear: both;
    margin: 0 auto; 
    padding: 1em 0 0.5em 0;
    text-align: center;
    font-size: .85em
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  {	text-align: left; }
.align-right {	text-align: right; }

/* additional classes */
.clear { clear: both; }
.grey {	color: #8F8F8E; }

.post-by {
    font-size: .9em;	
    padding-top: 0;
}


.tooltip {
    display:none;
    background:transparent url(/images/black_arrow_big.png);
    font-size:12px;
    height:245px;
    width:180px;
    padding-top:15px;
    padding-left:25px;
    padding-right:15px;
    padding-bottom:15px;
    color:#fff;
    position:center-right;
}
