body {
    font-family: Verdana, Arial, sans-serif;
}

#deck_entry {
    width: 268px;
    margin: auto;
}

#deck_entry table {
    margin-top: 45px;
}

#input_entry, #example_text {
    text-align: left;
    color: #999999;
}

#example_text {
    margin-top: -10px;
    margin-left: 31%;
    text-align: left;
    font-size: .7em;
}

#example_text {
    width: 300px;
}
#example_text p, #example_text ul, #example_text li {
    margin: 0 0 0 15px;
    padding: 0;
}
#example_text li {
    list-style-type: none;
}

#entry_container {
    float: left;
    width: 320px;
    text-align:center;
}

.tooltip {
	display:none;
	background:transparent url(/images/black_arrow_big.png);
	font-size:12px;
	height:245px;
	width:180px;
	padding-top:15px;
        padding-left:25px;
        padding-right:15px;
        padding-bottom:15px;
	color:#fff;
}

.tooltip.left {
	background:url(/images/black_arrow_big_left.png);
        padding-left:5px;
        padding-right:35px;
}

.tooltip.bottom {
	background:url(/images/black_arrow_big_bottom.png);
}

.column { width: 300px; float: left; padding-bottom: 10px; }
.portlet { margin: 1px 2px 0 2px !important; }
.portlet div {
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
}
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 20px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

.invis {
    visibility: hidden;
    display: none;
}

.pile {
    border: 1px solid #999999;
    border-radius: 10px;
    color: #999999;
    margin-left: 5px;
    font-size: .8em;
}

.pile_title {
    font-size: 1.5em;
    padding: 5px;
    border-bottom: 1px solid #999999;
    text-align: left;
}

.active_pile {
    border: 1px solid #000000;    
    color: #000000;
    background-color: #FFFFEA;
}

.title {
    font-size: 200%;
}
.title_block {
    text-align: center;
    background-color: #333333;
}

.delete_pile {
    float: right;
}
.delete_run, .delete_pile {
    color: #FF0000;
}

td .delete_run:hover {
    cursor: pointer;
}

#decklist_header {
    font-weight: bold;
}

#edit_deck_name {
    cursor: pointer;
}

.column { width: 300px; float: left;}
.portlet { margin: 0 1em 1em 0; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.deckEditor {display:inline; height:620px;}
.deckWorkspace {display:inline; height:620px; width:880px; position:relative; text-align: center;}
.searchWidget  {display:inline; background: #333333; height:650px; width:320px; position:relative; float:left;}
.panes {height: 600px;}