.pile_runs, .pile_footer {
    padding: 3px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
}

.run {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    background-color: #454545;
    border-radius: 5px;
    margin-bottom: 2px;
}

.run > div:nth-child(2) {
    -webkit-box-flex: 1;
}

.run div {
    padding: 2px;
}

.pile {
    width: 90%;
    min-width: 400px;
    border: 1px solid #999999;
    border-radius: 10px;
    color: #999999;
}

.pile_header {
    font-size: 1.5em;
    padding: 5px;
    border-bottom: 1px solid #999999;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
.pile_footer {
    border-top: 1px solid #999999;
}

.active_pile {
    border: 1px solid #000000;    
    color: #000000;
    background-color: #FFFFEA;
}

.delete_pile {
    text-align: right;
    -webkit-box-flex: 1;
}

.run_type, .run_type_summary {
    min-width: 100px;
    -webkit-box-flex: 1;
    padding: 2px;
    margin: 2px;
}

.invis {
    visibility: hidden;
    display: none;
}

#deck_entry {
    width: 268px;
    margin: auto;
}

#deck_entry table {
    margin-top: 45px;
}

#input_entry, #example_text {
    text-align: left;
    color: #999999;
}

#example_text {
    margin-top: -10px;
    margin-left: 31%;
    text-align: left;
    font-size: .7em;
}

#example_text {
    width: 300px;
}
#example_text p, #example_text ul, #example_text li {
    margin: 0 0 0 15px;
    padding: 0;
}
#example_text li {
    list-style-type: none;
}

.oracle_text {
    font-size:9px;
    text-align:left;
    line-height:98%;
}

.invis {
    visibility: hidden;
    display: none;
}

.pile {
    border: 1px solid #999999;
    border-radius: 10px;
    color: #999999;
    margin-left: 5px;
    font-size: .8em;
}

.pile_title {
    font-size: 1.5em;
    padding: 5px;
    border-bottom: 1px solid #999999;
    text-align: left;
}

.active_pile {
    border: 1px solid #000000;    
    color: #000000;
    background-color: #FFFFEA;
}

.title {
    font-size: 200%;
}
.title_block {
    text-align: center;
    background-color: #333333;
}

.delete_pile {
    float: right;
}
.delete_run, .delete_pile {
    color: #FF0000;
}

td .delete_run:hover {
    cursor: pointer;
}

#decklist_header {
    font-weight: bold;
}

#edit_deck_name {
    cursor: pointer;
}


.deckEditor {
    width: 100%;
}

.deckWorkspace {
    width: 50%;
    position: absolute;
    right: 0;
}

.searchWidget {
    background: #333333;
    height:620px;
    width:320px;
    position:relative;
    float:left;
}

.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 20px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
