body {
    background-color: #000000;
}

#deck_list table {
    width: 100%;
    background-color: #FFCCFF;
}

.hrule {
    border-top: 1px solid black;
}

.rightbar {
    position: absolute;
    right: 0;
}

.deckinfo {
    position: absolute;
    left: 200px;
    top: 65px;
}

.commander {
    position: fixed;
    top: 65px;
    left: 10px;
    width: 185px;
    height: 257px;
}

.cardinfo {
    position: fixed;
    top: 335px;
    left: 10px;
    width: 185px;
    height: 257px;
}
