.decks {
    background-color:#555566;
    height: 644px; 
    width: 66%;
    max-width: 800px;
    min-width: 600px; 
    border: 3px solid #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    text-align: center;
    margin: auto;
}

.decksTitle {
    background-color:#555566;
    color:#ffffff;
    font-family:"Helvetica";
    text-shadow: #ccc 0px 1px 2px, #000 -1px -1px 2px;
    font-size: 120%;
}

.buttonTo {
    width: 100%;
}

@-webkit-keyframes greenPulse 
{
    from { background-color: #749a02; -webkit-box-shadow:: 0 0 9px #333; }
    50% { background-color: #91bd09; -webkit-box-shadow:: 0 0 18px #91bd09; }
    to { background-color: #749a02; -webkit-box-shadow:: 0 0 9px #333; }
}

@-moz-keyframes greenPulse
{
    from { background-color: #749a02; -webkit-box-shadow:: 0 0 9px #333; }
    50% { background-color: #91bd09; -webkit-box-shadow:: 0 0 18px #91bd09; }
    to { background-color: #749a02; -webkit-box-shadow:: 0 0 9px #333; }
}

@-ms-keyframes greenPulse
{
    from { background-color: #749a02; -webkit-box-shadow:: 0 0 9px #333; }
    50% { background-color: #91bd09; -webkit-box-shadow:: 0 0 18px #91bd09; }
    to { background-color: #749a02; -webkit-box-shadow:: 0 0 9px #333; }
}

.newDeckButton
{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 1em .5em;
    color: #fef4e9;
    border: 2px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-animation: greenPulse 3s infinite;
    -moz-animation: greenPulse 3s infinite;
    -ms-animation: greenPulse 3s infinite;
}

.modal {
    background-color:#ffffff;
    text-align: center;
    color: #ffffff;
    display: none;
    width: 800px;
    padding: 15px;
    border: 2px solid #333;
    opacity: 0.95;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 0 20px #888;
    -webkit-box-shadow: 0 0 20px #888;
}

.modal h2 {
    background: url(/img/global/info.png) 0 50% no-repeat;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    color: #333333;
}

.model_footer {
    clear: both;
    padding-top: 10px;
}

.top_space {
    margin-top: 50px;
}

.left_side {
    margin: 0;
    float: left;
    width: 400px;
}
.right_side {
    margin: 0;
    border-left: 1px solid black;
    float: right;
    width: 399px;
}

.deckTable
{
    font-family:courier;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1.7em;
    text-align:center;
    border-collapse:collapse;
    border: 2px solid #000;
    -webkit-border-radius: 6px;
}

.deckTable thead th
{
    padding:6px 10px;
    text-transform:uppercase;
    color:#444;
    font-weight:bold;
    text-shadow:1px 1px 1px #fff;
    border-bottom:1px solid #000;
}

.deckTable tbody tr:nth-child(even)
{
    
    background-color:#dde;
    color:#000;
    border-bottom:1px solid #444;
    text-shadow:1px 1px 1px #fff;
}

.deckTable tbody tr:nth-child(odd)
{
    background-color:#eee;
    color:#000;
    border-bottom:1px solid #444;
}
