.pile_runs {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
}

.run {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    background-color: #333333;
    border-radius: 10px;
    margin: 2px;
}

.run > div:nth-child(2) {
    -webkit-box-flex: 1;
}

.run div {
    padding: 2px;
}

.pile {
    width: 40%;
    border: 1px solid #999999;
    border-radius: 10px;
    color: #999999;
    margin-left: 5px;
    font-size: .8em;
}

.pile_title {
    font-size: 1.5em;
    padding: 5px;
    border-bottom: 1px solid #999999;
    text-align: left;

    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.active_pile {
    border: 1px solid #000000;    
    color: #000000;
    background-color: #FFFFEA;
}

.delete_pile {
    text-align: right;
    -webkit-box-flex: 1;
}

.run_type {
    width: 150px;
}

.invis {
    visibility: hidden;
    display: none;
}
