<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="google-site-verification" content="f9_EInulAw-5lm0JxtyBJIMMASOIbfnEWnO4qdzSQOo" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <script src="http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

    <%= stylesheet_link_tag 'application' %>

    <%= yield :head %>
  </head>
  <body>
    
    <div id="header">
      <div id="nav" width=100%>
        <ul float="right">
          <li><img src="/images/HeaderLogo.png"/></li>
          <li>Magic Deck.net</li>
        </ul>
        <ul float="right" width=100% style="text-align: center;">
          <li><a href="/" title="Home">Collection</a></li>
          <li><a href="/decks" title="Decks">Decks</a></li>
          <li><a href="/" title="Decks">Events</a></li>
          <li><a href="/identifiers" title="Accounts">Accounts</a></li>
        </ul>
      </div>
      <div id="login_container">
        <% if @user %>
        Welcome, <%= @user.nick %>
        |
        <a href='/logout'>logout</a>
        <% else %>
        <a href="/identifiers">Sign In</a>
        <% end %>
      </div>
    </div>
    
    <div id="content-wrap">
      <%= yield %>
    </div>

    <div id="footer-wrap">
      This [Web site] is not affiliated with, endorsed, sponsored,
      or specifically approved by Wizards of the Coast LLC. This [Web site] may use the
      trademarks and other intellectual property of Wizards of the Coast LLC, which is
      permitted under Wizards' Fan Site Policy [link]. For example, MAGIC: THE GATHERING
      is a trademark[s] of Wizards of the Coast. For more information about
      Wizards of the Coast or any of Wizards' trademarks or other intellectual property,
      please visit their website at (www.wizards.com).
    </div>
  </body>
</html>
